{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static "css/profile/profile_update.css" %}">
<script src="{% static "js/go_back.js" %}"></script>
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ title }}</li>
{% endblock %}

{% block main %}
{% errors_for form %}

<legend><h3>{{ title }}</h3></legend>

<div class="updateWrapper">
<form id="data_form" action="{% url 'profile_update' %}" method="post" enctype="multipart/form-data">
    {% comment %}
    {% fields_for form %}
    {% endcomment %}

    <div class="updateDetails">
    {% csrf_token %}
      {% for field in form %}
            {% if field.label == "First name"%}
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel">{{field.label}}*</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                </div>
            {% elif field.label == "Last name"%}
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel">{{field.label}}*</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                </div>
            {% elif field.label == "Email address"%}
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel">{{field.label}}*</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                </div>
            {% elif field.label == "Password (again)"%}
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel">{{field.label}}*</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                </div>
            {% elif field.label == "Username" %}
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel">{{field.label}}*</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                    <div class="help-block">                   
                        <p>Only letters, numbers, dashes or underscores please</p>
                    </div>
                </div>
            {% elif field.label == "Password" %}
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel">{{field.label}}*</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                    <div class="help-block">                   
                        <p>Leave blank unless you want to change your password</p>
                    </div>
                </div>
            {% elif field.label == "Affiliation"%}
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panelfancy">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Details</a>
                            </h4>
                        </div>
                    </div>
                 <div id="collapse1" class="panel-collapse collapse">
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel2">{{field.label}}</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                </div>
            {% elif field.label == "Use case"%}
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel2">{{field.label}}</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                </div>
            {% elif field.label == "Group"%}
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel2">{{field.label}}</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                </div>

            {% elif field.name == "application_field" %}
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel2">{{field.label}}</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                    <div class="help-block" id="help2">                   
                        <p>Select multiple entrys with CTRL</p>
                    </div>
                </div>
            {% elif field.label == "User pic"%}
                <div class="upadtefieldWrapper">                
                    <div class="updateLabel2">{{field.label}}</div>
                    <div class="updateField">{{ field }}<br></div>
                    <div class="updateError">{{ field.errors }}</div>
                </div>
             </div>
             </div>
             </div>
            {% endif %}
                  {% endfor %}
            </div>

        <div class="updateProfilebutton">
             <!--<a class="btn btn-primary" onclick="goBack()" href="">Go back</a>-->
             <input class="btn btn-primary" type="submit" onclick="goBack()" value="Go Back">  
             <input class="btn btn-primary" type="submit" name="submit" value="Update profile">
         </div>
</form>
</div>
{% endblock %}
