{% extends "accounts/account_form.html" %}
{% load i18n %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static "css/profile/reset.css" %}">
{% endblock %}

{% block main %}
<div class="wrapper">
<div class="resetWrapper">
		<div class="resetForm">
				{{ block.super }}
		</div>
	<div class="resetPW">
		<p>{% trans "Enter your username or email address and you'll receive an email with a link you need to click, in order to log in and change your password." %}</p>
	</div>
</div>
</div>
{% endblock %}
