<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About VirES</h3>
    </div>
    <div class="modal-body modal-body-about">
    	<div><img style="width:20%; position:absolute; right:20px; top:-10px" src="/images/logos/esa.png" alt="European Space Agency logo"></div>
		
		<p style="font-size:1.4em">TAMP Project</p>
		<p style="margin-top:25px;">
			The Technology and Atmospheric Mission Platform project – TAMP project aims at implementing a demonstration platform to support atmospheric science users in their daily job. TAMP faces the challenges of Big Data exploitation from the aspects of data access, processing, and results publication. TAMP makes available to its users the following capabilities:
		</p>
		<ul>
			<li style="list-style-type: circle;"> A large set of data (satellite-based data, weather / chemical prediction models, validation datasets)</li>
			<li style="list-style-type: circle;"> Processing platform and processing tools</li>
			<li style="list-style-type: circle;"> Multi-Dimensional data visualization and access tools</li>
			<li style="list-style-type: circle;"> Data assessment tools, to compare processed data with input and validation data</li>
		</ul>

		<p>The project runs for 18 months with Kick Off in December 2014 and the first platform delivery expected for January 2016. The project is lead by SISTEMA, with the support of EOX IT Services GmbH and the Austrian Meteorological Service, and is funded by the European Space Agency.</p>
 
	   	<div class="row" style="margin-top:30px;margin: auto; max-width: 800px;">
	   		<div class="col-md-2" style="text-align:center;"></div>
	   		<div class="col-md-3" style="text-align:center;"><img class="img-responsive" style="vertical-align: middle" src="/images/logos/EOX_Logo.png" alt="EOX IT Services GmbH logo"></div>
	   		<div class="col-md-2" style="text-align:center;"></div>
	   		<div class="col-md-3" style="text-align:center;"><img class="img-responsive" style="vertical-align: middle" src="/images/logos/sistema.jpg" alt="SISTEMA Logo"></div>
	   		<div class="col-md-2" style="text-align:center;"></div>
	   	</div>


	</div>
  </div>
</div>
