
<section id="cover" class="cover active" data-zoom="4" data-longitude="16.37" data-latitude="48.02" data-events="layout:switch:singleview" data-reset="">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <small class='scroll'>Scroll ▼</small>
    <h2>Field Lines</h2>
    <p>This Tutorial demonstrates the necessary steps in order to visualize and explore Swarm data.</p>
    <p>It is an interactive Tutorial so you just need to scroll down to see the prototypes functionality.</p>
    <p>As with all tutorials you can always close this banner and play around with the system to get acquanted to it.</p>
    <small class='scroll'>Scroll ▼</small>
</section>
<section  data-settings="SW_OPER_MAGA_LR_1B">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Layer Selection</h3>
    <p>In order to visualise a product we first have to activate it in the Layer Selection Window.</p>
    <p>You can open and close it at any time by clicking in the navigation bar (top of the screen) on the Layers button with the symbol <i class="fa fa-fw fa-globe"></i>.</p>
    <p>The Layer/Product Widget allows activating and deactivating the configured products, which are then visualized in the different viewers.</p>
    <p>You can move the widget to another position by clicking and dragging on its header, give that a try.</p>
    <p>The Widget shows base layers (e.g. Terrain and Blue Marble), overlay layers (e.g. Streets) and product layer.</p>
    <p>It is possible to sort the layers by clicking and dragging on the two triangle symbol.</p>
    <p>Transparency can be set by slider that appears by clicking on the circle icon of the product.</p>
</section>
<section data-events="ui:open:layercontrol" data-events="ui:open:toolselection" data-layers="SW_OPER_MAGA_LR_1B" data-parameter="SW_OPER_MAGA_LR_1B:B_NEC:range:0,200" data-parameter="WMM:X:height:0">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Tools</h3>
    <p>On the right i now opened the <strong>Tools</strong> Widget. This widget has Tools for selection, management and Layout separated in three groups</p>
    <p>The <strong>selection</strong> tools are on the upper button group, which are from top to bottom, point, line. polygon and bounding box selection.</p>
    <p>In the middle button group we have the <strong>Download Tool</strong> and the <strong>Selection Manager Tool</strong></p>
    <p>The <strong>Layout</strong> Tools are available at the bottom, these allow setting the client as split screen or quad screen. </p>
    <p>We will go into more detail of each of these components. As with the Layer Widget you can open and close the Tool Widget by clicking on the Tools button with the icon <i class="fa fa-fw fa-wrench"></i>.</p>
</section>
<section data-layers="SW_OPER_MAGA_LR_1B">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Time Selection</h3>
    <p>We activated now a Swarm L1b product and a time interval on the 30. September 2014 for you </p>
    <p>Did you notice the <strong>time slider</strong> at the bottom of the page? You can see the availability of the selected product there.</p>
    <p>Try stretching the time interval at its ends or draw a new one and watch how the Swarm data visualisation is updated on the globe.</p>
    <p>You can zoom in/out in time by using the mouse wheel over the time slider as well as pan by clicking and dragging where the dates are displayed.</p>
    <p>A more in depth analysis of the data can be done with the analytics viewer, keep on scrolling to see it in action.</p>
</section>
<section data-events="layout:switch:splitview">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Analytics Viewer</h3>
    <p>We now opened the split view. It can be switched in the <strong>Tools</strong> Widget by clicking on the Split Screen button.</p>
    <p>As you can see the selected Swarm data (product and time) is displayed as scatter plot.</p>
    <p>You can select multiple parameters for visualisation on the y Axis as well as against which parameter you want them to be plotted on the x Axis.</p>
    <p>Play around with the Analytics Viewer to get accostumed to the available functionality.</p>
    <p>This is just the initial tutorial for the VirES Prototype, additional explanation of available features will be added soon!</p>
</section>


<div style="height: 25em;"><!-- FIXME --></div>
