
<section id="cover" class="cover active" data-zoom="4" data-longitude="16.37" data-latitude="48.02" data-events="layout:switch:singleview" >
    <span class="close">&#215;</span>
    <small class='scroll'>Scroll ▼</small>
    <h1>Hi there, </h1>
    <p>this is a prototype for ...</p>
    <p>This demonstrator is configured to show all of the capabilities available for visualization and manipulation and is more of a technical demostrator.</p>
    <p>We will go through the available tools and visualizations as a tutorial which can be scrolled through. </p>
    <p>You can always close this banner and play around with the system to get acquanted to it.</p>
    <small class='scroll'>Scroll ▼</small>
</section>
<section data-events="ui:open:layercontrol">
    <span class="close">&#215;</span>
    <h2>Layer Selection</h2>
    <p>Let us first have a look at the available user interface elements (widgets). </p>
    <p>I opened up the <strong>Layer/Product Widget</strong>. You can open and close it at any time by clicking in the navigation bar on the Layers button with the symbol <i class="fa fa-fw fa-globe"></i>.</p>
    <p>The Layer/Product Widget allows activating and deactivating the configured products, which are then visualized in the different viewers.</p>
    <p>You can move the widget to another position by clicking and dragging on its header, give that a try.</p>
    <p>The Widget shows base layers (e.g. Terrain and Blue Marble), overlay layers (e.g. Streets) and product layer.</p>
    <p>It is possible to sort the layers by clicking and dragging on the two triangle symbol.</p>
    <p>Transparency can be set by slider that appears by clicking on the circle icon of the product.</p>
</section>
<section data-events="ui:open:toolselection">
    <span class="close">&#215;</span>
    <h2>Tools</h2>
    <p>On the right i now opened the <strong>Tools</strong> Widget. This widget has Tools for selection, management and Layout separated in three groups</p>
    <p>The <strong>selection</strong> tools are on the upper button group, which are from top to bottom, point, line. polygon and bounding box selection.</p>
    <p>In the middle button group we have the <strong>Download Tool</strong> and the <strong>Selection Manager Tool</strong></p>
    <p>The <strong>Layout</strong> Tools are available at the bottom, these allow setting the client as split screen or quad screen. </p>
    <p>We will go into more detail of each of these components. As with the Layer Widget you can open and close the Tool Widget by clicking on the Tools button with the icon <i class="fa fa-fw fa-wrench"></i>.</p>
</section>
<section data-layers="SW_OPER_MAGA_LR_1B">
    <span class="close">&#215;</span>
    <h2>Time Selection</h2>
    <p>We activated now a Swarm L1b product and a time interval on the 30. September 2014 for you </p>
    <p>Did you notice the <strong>time slider</strong> at the bottom of the page? You can see the availability of the selected product there.</p>
    <p>Try stretching the time interval at its ends or draw a new one and watch how the Swarm data visualisation is updated on the globe.</p>
    <p>You can zoom in/out in time by using the mouse wheel over the time slider as well as pan by clicking and dragging where the dates are displayed.</p>
    <p>A more in depth analysis of the data can be done with the analytics viewer, keep on scrolling to see it in action.</p>
</section>
<section data-events="layout:switch:splitview">
    <span class="close">&#215;</span>
    <h2>Analytics Viewer</h2>
    <p>We now opened the split view. It can be switched in the <strong>Tools</strong> Widget by clicking on the Split Screen button.</p>
    <p>As you can see the selected Swarm data (product and time) is displayed as scatter plot.</p>
    <p>You can select multiple parameters for visualisation on the y Axis as well as against which parameter you want them to be plotted on the x Axis.</p>
    <p>Play around with the Analytics Viewer to get accostumed to the available functionality.</p>
    <p>This is just the initial tutorial for the VirES Prototype, additional explanation of available features will be added soon!</p>
</section>


<div style="height: 25em;"><!-- FIXME --></div>
