<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
	{% load pages_tags mezzanine_tags i18n staticfiles %}

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
		<meta name="description" content="{% block meta_description %}{% endblock %}">
		<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
		<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

		{% ifinstalled mezzanine.blog %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
		<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
		{% endifinstalled %}

		{% compress css %}
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
		<!--<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">-->
		<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
		<link rel="stylesheet" media="screen and (min-width: 1280px)" href="{% static "css/base_style.css" %}">
	<link rel="stylesheet" media="screen and (max-width: 1279px)" href="{% static "css/base_style_small.css" %}">
		{% if LANGUAGE_BIDI %}
		<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
		{% endif %}
		{% block extra_css %}{% endblock %}
		{% endcompress %}

		{% compress js %}
		<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
		<script src="{% static "js/bootstrap.js" %}"></script>
		<script src="{% static "js/bootstrap-extras.js" %}"></script>
		{% block extra_js %}{% endblock %}
		{% endcompress %}
		
		{% if user.is_authenticated %}
			<link rel="stylesheet" href="{% static "css/login_show.css" %}">
		{% else %}
			<link rel="stylesheet" href="{% static "css/logout.css" %}">
		{% endif %}
		{% block extra_head %}{% endblock %}
		<style type="text/css">
    @font-face { 
    font-family: Glyphicons Halflings; 
    src:url({% static 'fonts/glyphicons-halflings-regular.ttf' %}) format('truetype');
    } 
</style>
	</head>

	<body id="{% block body_id %}body{% endblock %}">
		<div id="small">
			<p>Your screen resolution is to small, the website won't work properly</br>
			(min. width 1280px) </p>
			</div>
		<div class="navigationBar" role="navigation">
			<div class ="navigationContainer">
				<img class="earthGlobe" src="{% static "img/basic/earth.png" %}" alt="">
				<div class="logoImg">
					<a href="/"> <img src="{% static "img/basic/logo_small.png" %}" alt="TAMP Logo" ></a>
				</div>
				<div class="searchForm">
				{% search_form "blog" %}
				</div>
				{% page_menu "pages/menus/dropdown.html" %}
				{% if user.is_authenticated %}
				<div id="username">
				<p> Logged in as {{ user.username }}</p>
				</div>
				{% endif %}
			</div>
		</div>

		<div class="container">
				{% block main %}
				{% endblock %}
		</div>

	</body>
</html>
